*{
    box-sizing: border-box;
}

main{
    width: 100%;
}

/* Eleaments found in the header*/
header{
    width: 100%;
    background: brown;
    text-align:  center;
    padding: 20px;
    position:fixed;
    top:0;
    left:0;
}

li{
    display: inline;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

.nava{
    text-decoration: none;
    color: white;
    display: inline;
}

.heroimg{
    top: 55px;
    width: 100%;
}  

@media screen and (max-width: 768px) {
    .heroimg {
      top:1000px;
    }
  }

/* Eleaments found in the body */


body{
    width:100%;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.feat{
    display: flex;
    width: 100%;   
    padding: 0;
    margin-bottom: 15px;
}

.feat a{
    width: 100%;
}

a{
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 0 5px 10px 5px;
}

img{
    width: 100%;
    display: block; 
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    a {
      width: 50%;
    }
  }

  /* Eleaments found in the about me section */

.aboutme{
    display: flex;
}

.meimg{
    margin: 0 25px 0 25px;
    width: 40%;
    border-radius: 50%;
    display: flex;

}  
div{
    width: 55%;
    min-width: 50%;
    padding: 0 15px;
}

h2{
    font-size: 30px;
    display: block;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

p{
    display: block;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    margin-bottom: 15px;
}

 @media screen and (max-width: 1000px) {
    div {
      width: 100%;
      margin: 25px;
    }
  }

  @media screen and (max-width: 1000px) {
    .meimg {
        margin: auto;
        width: 60%;
    }
  }

 /* Eleaments found in the contact section */

  .contact{
    font-family: 'Jost', sans-serif;
    background:cadetblue;
    padding: 25px;
    width: 100%;
    display: block;
    margin-top: 25px;
  }
  
  .contact h2{
      margin-left: 32%;
  }

  .feedback{
      display: block;
      margin-bottom: 10px;
      width: 35%;
      height: 30px;
      border: none;
      margin-left: 32%;
      font-family: 'Jost', sans-serif;
  }

  .feedbacktwo{
      height: 100px;
      width: 35%;
      margin-bottom: 10px;
      border: none;
      margin-left: 32%;
      font-family: 'Jost', sans-serif;
  }

  button{
      display: block; 
      width: 35%;
      height: 30px;
	  border: none;
      margin-left: 32%;
  }
  
  @media screen and (max-width: 768px) {
    .feedback {
        width: 50%;
        margin-left: 25%;
    }
  }

  @media screen and (max-width: 768px) {
    .feedbacktwo {
        width: 50%;
        margin-left: 25%;
    }
  }

  @media screen and (max-width: 768px) {
    button {
        width: 50%;
        margin-left: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    .contact h2 {
        margin-left: 25%;
    }
  }

  /* Eleaments found in the footer */

  footer{
      background:brown;
      height: 100px;
      text-align:  center;
      padding: 15px;
  }

  footer p {
      color: white;
  }

  .fa {
      text-align: center;
      text-decoration: none;
  }

  .fa-linkedin {
      color: white;
      width: 50px;
  }

  .fa-youtube {
      color: white;
      width: 50px;
  }

  .fa-github {
      color: white;
      width: 50px;
  }

  .fa-twitter {
      color: white;
      width: 50px;
  }