*{
    box-sizing: border-box;
}

main{
}

/* Eleaments found in the header*/
header{
    width: 100%;
    background: brown;
    text-align:  center;
    padding: 20px;
    position:fixed;
    top:0;
    left:0;
}

li{
    display: inline;
    margin: 0 10px;
}

@media screen and (max-width: 768px) {
    li {
      display: block;
    }
  }

.heroimg{
    top: 55px;
    width: 100%;
}  

/* Eleaments found in the body */
body{
    width:100%;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 33.33%;
    display: flex; 
    flex-wrap: wrap;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    img {
      width: 50%;
    }
  }

  /* Eleaments found in the about me section */