/*elements found in everything*/
*{
    box-sizing: border-box;
}

main{
    width: 100%;
}

/* Elements found in the header*/
header{
    width: 100%;
    background: #C95D5D;
    text-align:  right;
    padding: 15px;
    position:fixed;
    top:0;
    left:0;
    z-index: 3000;
}

 header h1{
    font-size: 30px;
    display: block;
    margin: 0 25px 20px 0;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: white;
}

li{
    display: inline;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
}

li:hover{
    background: rosybrown;
    padding: 11px;
}

.nava{
    text-decoration: none;
    color: white;
    display: inline;
}
/* Hero image css*/
.heroimg{
    margin-top: 55px;
    width: 100%;
}  

@media screen and (max-width: 768px) {
    .heroimg {
        margin-top:97px;
    }
  }

/* Elements found in the body */


body{
    width:100%;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* elements found in the Portfoilo section */
.feat{
    display: flex;
    width: 100%;   
    padding: 0;
    margin-bottom: 15px;
}

.feat a{
    width: 100%;
}

a{
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    padding: 0 5px 10px 5px;
}

img{
    width: 100%;
    display: block; 
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    a {
      width: 50%;
    }
  }

section a:hover{
    opacity: 0.5;
}

 /* video frame elements */
  
 .videoFrame {
  justify-content: center;
}

/* Elements found in the about me section */

.aboutme{
    display: flex;
}

.meimg{
    margin: 0 25px 0 25px;
    width: 40%;
    border-radius: 50%;
    display: flex;
} 

 @media screen and (max-width: 1100px) {
    .meimg {
        margin: auto;
        width: 60%;
    }
  }

/* aside content*/
aside{
    width: 55%;
    min-width: 50%;
    padding: 0 15px;
}

h2{
    font-size: 30px;
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: 'Jost', sans-serif;
    color: #3A1414;
}

h3{
    display: block;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    color: #3A1414;
}


h5{
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    color: #3A1414;
}

p{
    display: block;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Jost', sans-serif;
    color: #3A1414;
    margin-bottom: 15px;
}

@media screen and (max-width: 700px) {
    h3 {
      font-size: 16.5px;
    }
  }

 @media screen and (max-width: 1100px) {
    aside {
      width: 100%;
      margin: 25px;
    }
  }

 /* Elements found in the footer/contact section */

  .contact{
    font-family: 'Jost', sans-serif;
    background:#DDBE90;
    padding: 25px;
    width: 100%;
    display: block;
    margin-top: 25px;
  }
  
  .contact h2{
      margin-left: 32%;
      color: white;
  }

  .feedback{
      display: block;
      margin-bottom: 10px;
      width: 40%;
      height: 30px;
      border: none;
      margin-left: 30%;
      font-family: 'Jost', sans-serif;
  }

  .feedbacktwo{
      height: 100px;
      width: 40%;
      margin-bottom: 10px;
      border: none;
      margin-left: 30%;
      font-family: 'Jost', sans-serif;
  }

    .feedback:focus{
       border-right: 5px solid #C95D5D;
}

   .feedbacktwo:focus{
       border-right: 5px solid #C95D5D;
   }

  button{
      display: block; 
      width: 40%;
      height: 30px;
	  border: none;
      margin-left: 30%; 
      background-color: #C95D5D;
      color: white;
      font-family: 'Jost', sans-serif;
      font-weight: 600;
  }

  button:hover{
    background: rosybrown;
  }
  
  @media screen and (max-width: 768px) {
    .feedback {
        width: 70%;
        margin-left: 15%;
    }
  }

  @media screen and (max-width: 768px) {
    .feedbacktwo {
        width: 70%;
        margin-left: 15%;
    }
  }

  @media screen and (max-width: 768px) {
    button {
        width: 70%;
        margin-left: 15%; 
    }
  }
  @media screen and (max-width: 768px) {
    .contact h2 {
        margin-left: 15%;
    }
  }

  .contact ul{
      margin-top: 30px;
      background: none;
      text-align: center;
  }

  .contact li{
      font-size: 25px;
      color:white;
      font-weight: 300;
  }

  span{
      font-weight: 600;
  }

  .contact li:hover{
    background: none;
    padding: 0;
}

@media screen and (max-width: 1100px) {
    .contact li {
        display:block;
    }
  }
  
  .parttwo{
    background-color: #C95D5D;
    width: 100%;
    text-align: center;
    height: auto;
  }

  .space {
      padding-top: 20px;
      color: white;
      font-family: 'Jost', sans-serif
  }

  .fa {
    padding: 20px;
    font-size: 100px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-linkedin {
    color: white;
  }
  
  .fa-github {
    color: white;
  }
  
  .fa-youtube {
    color: white;
  }